<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Instructivo {{instructivoSeleccionado.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-title size="small">Instructivo Firmado (Escaneado)</ion-title>
            <ion-title size="small">
              <ion-badge
                color="{{instructivoSeleccionado.vigencia? 'success' : 'danger' }}"
                >{{ instructivoSeleccionado.vigencia ? "Vigente" : "No vigente"
                }}</ion-badge
              ></ion-title
            >
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-button expand="block" shape="round">
              <a href="{{instructivoSeleccionado.ruta_pdf_escaneado}}">
                Descargar
              </a>
            </ion-button>

            <ion-button expand="block" shape="round">
              <a href="{{instructivoSeleccionado.ruta_pdf_original}}">
                Original (sin firmas)
              </a>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <iframe
    width="100%"
    height="90%"
    [src]="'http://127.0.0.1:5000/instructivos_escaneados/'+instructivoSeleccionado.id_instructivo+'.pdf' | safe"
  ></iframe>
</ion-content>
