<table class="tablaVigentes">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Versión</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>PDF Original</th>
      <th>PDF Escaneado</th>

      <!-- Agrega aquí los encabezados para las demás propiedades -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inst of instructivos">
      <td>{{ inst.id_instructivo }}</td>
      <td>{{ inst.nombre }}</td>
      <td>{{ inst.version }}</td>
      <td>{{ inst.fecha_inicio }}</td>
      <td>
        <ion-button (click)="open(inst, inst.ruta_pdf_original)"><ion-icon name="eye-outline" size="small"></ion-icon></ion-button></td>
      <td>
        <ion-button (click)="open(inst, inst.ruta_pdf_escaneado)"><ion-icon name="eye-outline" size="small"></ion-icon></ion-button>
      </td>
      <!-- Agrega aquí las celdas para las demás propiedades -->
    </tr>
  </tbody>
</table>
